node_modules/
build/
dist/
coverage/
.eslintrc
eslintrc.json
README.md
tsconfig.json
package.json
package-lock.json

.scannerwork/
compilation-stats.json
compilation-report.html
text-report.xml